.song-container {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 70px;

  img {
    max-width: 600px;
    border-radius: 50%;
  }

  h2 {
    padding: 3rem 1rem 1rem 1rem;
  }

  h3 {
    color: goldenrod;
    font-size: 2rem;
  }
}

